<table class="table table-condensed">
    <tr>
        <th>YouTube ID</th>
        <th>Start Time</th>
        <th></th>
        <th></th>
    </tr>
    {{#each videoList}}
    <tr>{{! wrapper for each video}}
        {{#if private}}
        <td class="text-danger">{{hostId}} (PRIVATE)</td>
        {{else}}
        <td>{{hostId}}</td>
        {{/if}}
        <td>{{time startTime}}</td>
        <td><a data-name="videoedit" data-id="{{id}}">edit</a></td>
        <td><button data-name="deletevideobutton" data-id="{{id}}" type="button" class="pull-right close" aria-hidden="true">&times;</button></td>
    </tr>

    {{/each}}
</table>


