<div ng-show="eventList.length === 0">
    No results found.
</div>

<div ng-hide="eventList">Loading events</div>    

<div ng-show="eventList.length > 0">
    <p class="text-right text-muted">{{eventList.length}} results found</p>
    <div class="panel panel-default results">
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                <th>
                <div class="btn-toolbar" role="toolbar"><div class="btn-group">
                        <button class="btn btn-md btn-default"><span class="glyphicon glyphicon-trash"></span></button>
                    </div></div>
                </th>
                <th>Type</th>
                <th>Started</th>
                <th>Duration</th>
                </thead>

                <tbody>
                    <tr ng-repeat="event in eventList| orderBy:'startTime':true" class="ngFade">
                        <td><input type="checkbox" id='selectCheckbox' value="\{{id}}"></td>
                        <td>{{event.type| limitTo:30}} <a href="/event/{{event.id}}" class="pull-right">View <span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
                        <td>{{event.startTime| date}}</td>
                        <td>{{event.startTime - event.endTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
