{{#if event}}
<div class="row">
    {{#each event.summary_statistics.instantaneous}}
    
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>{{@key}}</strong></div>

            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Axis</th>
                        <th>Minimum</th>
                        <th>Average</th>
                        <th>Maximum</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each this}}


                    <tr>
                        <td>{{@key}}</td>
                        <td><abbr title="units: {{this.minimum.units}},  time: {{epochtime this.minimum.time}}">
                                {{unitize this.minimum.value this.minimum.units}}</abbr></td>
                                
                        <td><abbr title="units: {{this.average.units}}">
                                {{unitize this.average.value this.average.units}}</abbr></td>
                                
                        <td><abbr title="units: {{this.maximum.units}},  time: {{epochtime this.maximum.time}}">
                                {{unitize this.maximum.value this.maximum.units}}</abbr></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{/each}}



    {{#if event.summary_statistics.static.route}}
    {{#with event.summary_statistics.static.route}}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>gps path</strong></div>
            <table class="table table-condensed">
                <thead>
                <th>Type</th>
                <th>Length</th>
                <th>Bearing</th>
                </thead>
                <tbody>
                    {{#each this}}
                    <tr>
                        <td>{{@key}}</td>
                        <td><abbr title="units: {{distance.units}}">
                                {{decimal distance.value}}</abbr></td>

                        <td>{{#if bearing}}<abbr title="units: {{bearing.units}}">
                                {{decimal bearing.value}}</abbr>
                            {{else}}---{{/if}}</td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </div>
    {{/with}}
    {{/if}}

    {{#if event.summary_statistics.static.time}}
    {{#with event.summary_statistics.static.time}}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>time</strong></div>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>start</td>
                        <td>{{epochdate start_time.value}}</td>
                        <td>{{epochtime start_time.value}}</td>
                    </tr>
                    <tr>
                        <td>end</td>
                        <td>{{epochdate end_time.value}}</td>
                        <td>{{epochtime end_time.value}}</td>
                    </tr>
                    <tr>
                        <td>duration</td>
                        <td></td>
                        <td>{{duration start_time.value end_time.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{/with}}
    {{/if}}


    <!--{"static":{"gps":{"total on time":0,"On percent":0,"total off time":0}},"instantaneous":{"gps":{}}}-->


    {{#if event.summary_statistics.static.gps}}
    {{#with event.summary_statistics.static.gps}}
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>gps static</strong></div>
            <table class="table table-condensed">
                <thead>
                    <th>Off</th>
                    <th>On</th>
                    <th>%</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{duration 0 timeoff.value}}</td>
                        <td>{{duration 0 timeon.value}}</td>
                        <td>{{percent timeon.value timeoff.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    {{/with}}
    {{/if}}

</div>
{{/if}}