<!DOCTYPE html>
<html lang="en" ng-app="redApp" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{pageTitle}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="/">

        <!-- build:css /static/css/app.css -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <!-- endbuild -->
        <style type="text/css">
            .ngFade.ng-enter { transition: 0.1s linear all; opacity: 0;}
            .ngFade.ng-enter-active {opacity: 1;}

            // Taken from http://stackoverflow.com/a/13754758/2557842
            .input-mini { width: 75px; }
            .input-small { width: 90px; }
            .input-medium { width: 150px; }
            .input-large { width: 210px; }
            .input-xlarge { width: 270px; }
            .input-xxlarge { width: 530px; }

            .form-control-inline {
                min-width: 0;
                width: auto;
                display: inline;
            }
        </style>

    </head>
    <body ng-controller="pageController">
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Total State</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                    <ul class="nav navbar-nav" ng-if="currentUser">
                        <li><a href="/bluetooth" target="_self">Bluetooth</a></li>
                        <li><a href="/upload/rnc" target="_self">RNC</a></li>
                        <li><a href="/dataset/">Datasets</a></li>
                        <li><a href="/event/">Events</a></li>
                    </ul>
                    <ul class="nav navbar-nav" ng-if="!currentUser">
                        <li><a href="/page/about">About</a></li>
                        <li><a href="/page/team">Team</a></li>
                        <li><a href="/page/jobs">Jobs</a></li>
                    </ul>
                    <!--                <form class="navbar-form navbar-left" role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search">
                                        </div>
                                    </form>-->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" ng-if="currentUser">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.displayName}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/me">Profile</a></li>
                                <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
                            </ul>
                        </li>
                        <li ng-if="!currentUser">
                            <a href="/login/authenticate" target="_self">Sign In&nbsp;<span class="glyphicon glyphicon-log-in"></span></a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="container">
            <br/><br/><br/>
            <div class="alert alert-info" ng-if="developmentSite">Careful: you're working on the development site</div>

            <div ng-view></div>
        </div>

        <!-- build:js /static/js/vendor1.js -->
        <script src="/static/js/vendor/spin.js"></script>
        <script src="/static/js/vendor/underscore_no_require.js"></script>
        <script src="/static/js/vendor/angular.js"></script>
        <!-- endbuild -->
        
        <!-- build:js /static/js/vendor2.js -->
        <script src="/static/js/vendor/angular-animate.js"></script>
        <script src="/static/js/vendor/angular-resource.js"></script>
        <script src="/static/js/vendor/angular-route.js"></script>
        <script src="/static/js/vendor/angular-cookies.js"></script>
        <script src="/static/js/vendor/angular-spinner.js"></script>
        <script src="/static/js/vendor/angular-filter.js"></script>
        <script src="/static/js/vendor/ui-bootstrap-tpls-0.11.0.js"></script>
        <!-- endbuild -->
        
        <!-- build:js /static/js/client.js -->
        <script src="/static/js/singlepage/app.js"></script>
        <script src="/static/js/singlepage/services.js"></script>
        <script src="/static/js/singlepage/controllers.js"></script>
        <script src="/static/js/singlepage/filters.js"></script>
        <script src="/static/js/singlepage/directives.js"></script>
        <!-- endbuild -->
    </body>
</html>