

  	<link media="all" href="/formview.css" type="text/css" rel="stylesheet" />
  	<script src="/js/formview.js" type="text/javascript"></script>
    <div id="form_container">
      <h1><a>rnb2rnt.jar Web Interface</a></h1>
      <form action="/upload/process" method="post" enctype="multipart/form-data" class="appnitro">
        <ul>
          <li id="li_1"> <label for="rnbfile" class="description">RNB File </label>
            <div> <input type="file" class="element file" name="rnbfile" id="rnbfile" />
            </div>
            <p id="guide_1" class="guidelines"><small>Select the RNB file to
                process.</small></p>
          </li>
                    
          
          {{#each textinputs}}
          <li> <label for="{{id}}" class="description">{{label}}</label>
            <div> <input type="text" value="" maxlength="255" class="element text medium"
                name="{{id}}" id="{{id}}" /> </div>
            <p class="guidelines"><small>{{description}}</small></p>
          </li>
          {{/each}}
          
                    
          {{#each textareas}}
          <li> <label for="{{id}}" class="description">{{label}}</label>
            <div> <textarea cols="120" rows="9" name="{{id}}" id="{{id}}">{{default_text}}</textarea>
            </div>
            <p class="guidelines"><small>{{description}}</small></p>
          </li>
          {{/each}}
          
          
            <input type="submit" value="Submit" name="submit" class="button_text"
              id="saveForm" />
        </ul>
      </form>
    </div>

