# config for haproxy 1.5.x

global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096

defaults
        log     global
        mode    http
        timeout connect 5000ms
        timeout client 500000ms
        timeout server 500000ms
        option  httplog
        option  dontlognull
        option forwardfor
        option http-server-close
        stats enable

frontend http-in
        bind *:80

        # Define hosts
        acl host_api hdr(host) -i api.redninesensor.com
        acl host_action hdr(host) -i action.redninesensor.com
        acl host_html hdr(host) -i data.redninesensor.com

        ## figure out which one to use
        use_backend api_cluster if host_api
        use_backend html_cluster if host_html
        use_backend action_cluster if host_action

backend api_cluster
        balance leastconn
        option httpclose
        option forwardfor
        cookie JSESSIONID prefix
        server node1 127.0.0.1:8082 cookie A check
        server node1 127.0.0.1:8083 cookie A check
        server node1 127.0.0.1:8084 cookie A check
        server node1 127.0.0.1:8085 cookie A check
        errorfile 503 haproxy_error_pages/api_server_down.html

backend html_cluster
        balance leastconn
        option httpclose
        option forwardfor
        cookie JSESSIONID prefix
        server node1 127.0.0.1:8081 cookie A check
        errorfile 503 haproxy_error_pages/html_server_down.html
        
backend action_cluster
        balance leastconn
        option httpclose
        option forwardfor
        cookie JSESSIONID prefix
        server node1 127.0.0.1:8086 cookie A check
        errorfile 503 haproxy_error_pages/action_server_down.html
        
listen admin
        bind *:8080
        stats enable
        stats uri /haproxy?stats
        stats realm Strictly\ Private
        stats auth web.user:advancedcircuits
