body {
    padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.long-list-wrapper {
    border: 3px solid #ddd;
    overflow: auto;
    padding: 10px;
}
.panel-background-blockout {
    background-color: #F5F5F5 !important;
    padding: 10px;
    line-height: 1;
}

.results
{
    margin-top: 20px;
}
.filters > .panel {
    background-color: #F5F5F5;
    padding: 10px;
    font-size: 0.9em;
    line-height: 1;
}
.filters .nav-tabs {
    border-bottom: none;
    margin-left: 10px;
}
.filters .nav input
{
    display: none;
}
.filters .nav-tabs > li.active > a, .filters .nav-tabs > li.active > a:hover, .filters .nav-tabs > li.active > a:focus
{
    background-color: #F5F5F5;
    color: #333333;
}
.filters .row .nav.nav-pills
{
    font-size: 1.2em;
    padding-top: 4px;
}
.filters .row a
{
    display: block;
    padding-top: 7px;
}
.filters .row a span
{
    vertical-align: middle;
}
#location-filter a
{
    display: block;
    padding-top: 10px;
    position: relative;
}
.filters .row a:hover, .filters a:focus
{
    text-decoration: none;
}
.filters .nav > li > a
{
    padding: 6px 10px;
    font-weight: bold;
}
.filters .glyphicon-map-marker
{
    padding: 2px 3px 0 0;
    font-size: 15px;
    height: 24px;
    margin-top: -2px;
}
.filters .glyphicon-remove
{
    color: #A3A3A3;
    cursor: pointer;
    font-size: 11px;
    padding: 14px 5px 0 0;
    position: absolute;
    right: -2px;
    display: none;
}
.filters .form-control
{
    padding: 6px;
}
.filters .input-group-addon
{
    padding: 6px 2px;
    font-size: 0.93em;
}
.filters h3
{
    display: table-cell;
    font-size: 1.2em;
    font-weight: bold;
    height: 33px;
    margin: 0;
    vertical-align: middle;
}
.filters label
{
    font-weight: normal;
    padding-top: 10px;
}
.filter-item
{
    padding-top: 5px;
    min-height: 42px;
}
.filter-item.inactive
{
    display: none;
}
.buttons
{
    padding-top: 5px;
}
.buttons .btn-group
{
    float: right;
}
.buttons .btn-clear
{
    float: right;
    margin-left: 10px;
}
.filters .map
{
    margin: 5px 20px;
    height: 300px;
    border: 1px solid #DDDDDD;
    display: none;
}
.filters select
{
    padding-left: 4px;
    padding-right: 4px;
}
.filters select[multiple]
{
    height: 55px;
}
.slider
{
    margin-top: 12px;
}
.slider-label
{
    padding-top: 4px;
    height: 20px;
    text-align: center;
    font-style: italic;
}
#container-results .pagination
{
    margin-top: 0;
}
#map-canvas { height: 100% }

@media screen and (min-width: 768px) {
    /*Ipad and greater*/
    .filters .panel {

    }
}


/* For the Rickshaw Graphs */
.rickshaw_red9_chart {
    position: relative;
    left: 60px;
}
.rickshaw_red9_y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
}
.rickshaw_red9_chart_container {
    float: left;
    position: relative;
}



/* For the Rickshaw Markers */
.videomarker,
.hovermarker {
    stroke-width: 3px;
    stroke: #FF0000;

    transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    -webkit-transition: opacity 0.25s linear;
}
.videomarker.inactive,
.hovermarker.inactive {
    opacity: 0;
}
.videomarker.active,
.hovermarker.active {
    opacity: 0.5;
}


/*
Event Timeline
*/
.event-timeline-axis path,
.event-timeline-axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    opacity: 0.2;
}

.event-timeline-axis text {
    font-family: sans-serif;
    font-size: 11px;
    opacity: 0.5;
}

.event-timeline-markers {
    fill: #377eb8;
    opacity: 0.5;
}

.event-timeline-markers-source-auto {
    fill: #b87137;
}

.event-timeline-markers-highlight {
    fill: #FF0000;
}

.event-timeline-markers-select {
    stroke: #000000;
    stroke-width: 3;
}

.event-timeline-types {
    font-size: 12px;
    font-family: Arial, sans-serif;
    opacity: 0.5;
    white-space: nowrap;
    margin-left: 3px;
    bottom: 1px;
}

.event-timeline-types-highlight {
    opacity: 1;
}



/* Styles for a "console like" appearance */
.processing_notes {
    color: #DDD;
    background: #222;
    padding: 4px 6px;
    border: 2px #222 solid;
    font-family: Consolas, sans-serif;
    font-size: 13px;
    max-height: 600px;
    min-height: 300px;
    overflow: auto;
    padding: 0;
    font-family: monospace;
}
.processing_notes .processing_note {
    margin: 0;
    padding: 0px 10px;
}