<style>

    /* Styles for a "console like" appearance */
    .processing_notes {
        color: #DDD;
        background: #222;
        padding: 4px 6px;
        border: 2px #222 solid;
        font-family: Consolas, sans-serif;
        font-size: 13px;
    }
    .processing_notes .processing_note {
        margin: 0;
        padding: 0px 10px;
    }
    .processing_notes {
        max-height: 600px;
        min-height: 600px;
        overflow: scroll;
        padding: 0;
    }

</style>

<div class="processing_notes">    
</div>
<button data-name="calculatesummarystatistics" class="btn btn-default">Calculate Summary Statistics</button>


