<form class="form-horizontal">
    <fieldset>

        <div class="well">
            <div class="form-group">
                <label class="col-md-5 control-label" for="preconfiguredOption">Pre-configured Options</label>
                <div class="col-md-5">
                    <select name="preconfiguredOption" class="form-control">
                        <option value="wave">Wave</option>
                        <option value="paddle">Paddle</option>
                        <option value="tap">Tap</option>
                    </select>
                    <span class="help-block">Pre-populate the fields below with good values.</span>  
                </div>
            </div>
        </div>

        <input type="hidden" name="type" value="spectral"/>
        <input type="hidden" name="datasetId" value="{{datasetId}}"/>

        <div class="form-group">
            <label class="col-md-5 control-label" for="eventType">Select generated event type</label>
            <div class="col-md-5">
                <select name="eventType" class="form-control">
                    {{#each eventTypes}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" for="axis">Axis</label>
            <div class="col-md-5">
                <select name="axis" class="form-control">
                    {{#each axes}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" for="thresholdDirection">Threshold Direction</label>
            <div class="col-md-5">
                <select name="thresholdDirection" class="form-control">
                    <option value="above">Above</option>
                    <option value="below">Below</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" for="windowSize">Window Size</label>  
            <div class="col-md-5">
                <div class="input-group">
                    <input name="windowSize" type="number" class="form-control" min="16">
                    <span class="input-group-addon">samples</span>
                </div>
                <span class="help-block">Choose the number of samples for a window</span>  
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" for="threshold">Threshold</label>  
            <div class="col-md-5">
                <div class="input-group">
                    <input name="threshold" type="number" class="form-control" min="0">
                    <span class="input-group-addon">CSE</span>
                </div>
                <span class="help-block">Choose the threshold above which an event will be considered</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" for="overlapStep">Overlap Step</label>  
            <div class="col-md-5">
                <div class="input-group">
                    <input name="overlapStep" type="number" class="form-control" min="0" max="100">
                    <span class="input-group-addon">%</span>
                </div>
                <span class="help-block">Choose the percentage of window overlap</span>  
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" for="mergeThreshold">Merge Threshold</label>  
            <div class="col-md-5">
                <div class="input-group">
                    <input name="mergeThreshold" type="number" class="form-control" min="1">
                    <span class="input-group-addon">ms</span>
                </div>
                <span class="help-block">Choose the separation duration below which events are merged together</span>  
            </div>
        </div>

        <button class="btn btn-large btn-default pull-right" name="submitButton" type="submit">Run Spectral Detection</button>
    </fieldset>
</form>