
<div class="alert alert-warning">
    <p>Please clear all redninesensor.com cookies!
        <a href="https://support.google.com/chrome/answer/95647?hl=en" class="alert-link">Instructions here.</a></p>
    <p>You only have to do this once, and the site should work. If you log in and are redirected to this page in an infinite loop you didn't clear your cookies correctly.</p>
</div>

<h1>About</h1>

<p>We're a small company doing amazing things with motion capture tools for the consumer.</p>

<p>Interested in hearing more? Email us at <a target="_blank" href="mailto:red9_core@redninesensor.com">red9_core@redninesensor.com</a></p>

<script type="text/javascript">
    // Script taken from http://www.browser-update.org/
    var $buoop = {};
    $buoop.ol = window.onload;
    window.onload = function() {
        try {
            if ($buoop.ol)
                $buoop.ol();
        } catch (e) {
        }
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "//browser-update.org/update.js");
        document.body.appendChild(e);
    }
</script> 