
This is the comment page.

<textarea id="markdownTextArea"></textarea><br/>
<button id="createCommentButton" class="btn btn-default">Submit</button>
<script>
    $(document).ready(function() {
        
        
        
        $('#markdownTextArea').markdown({autofocus:true, saveable:false});
        
        
        
        //$('#markdownTextArea').markdown.getContent();
        
        //var area = new Markdown('#markdownTextArea', {autofocus:true, saveable:false});
        
        //console.log('area.keys(): ' + JSON.stringify(Object.keys(area)));
        
        $('#createCommentButton').on('click', function() {
            
            var submitComment = {
                author:'fadedcab-0528-e834-b47d-c80e3696846c',
                resourceType:'dataset',
                resource:'1a4013c6-2ecb-d734-391a-8f7b9e8482d8',
                body:$('#markdownTextArea').data('markdown').getContent(),
                startTime:0,
                endTime:0
            };
            
            $.ajax({
                type:'POST',
                url: 'http://api.localdev.redninesensor.com/comment/',
                dataType:'json',
                data:submitComment,
                success:function(data){
                    console.log('Success!');
                },
                error:function(){
                    console.log('Failed...');
                }
            });
        });
    });

</script>