<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page_title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="{{site.title}}">
        <meta name="description" content="{{site.description}}">
        <meta name="author" content="{{author.displayName}}">

        <script src="/js/jquery-2.0.3.js"></script>
        <script src="/js/jquery-ui-1.10.3.js"></script>
        <script src="/js/jquery.validate.js"></script>
        <script src="/js/jquery.validate.additional-methods.js"></script>
        <script src="/js/underscore.js"></script>
        <script src="/js/handlebars-v1.3.0.js"></script>

        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap-modalmanager.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/site.js"></script>
        
        <link href="/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/css/jquery-ui-1.10.3.css" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/bootstrap-modal-bs3patch.css" rel="stylesheet">
        <link href="/css/bootstrap-modal.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="glyphicon glyphicon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{site.title}}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">{{#if user.displayName}}
                        <li><a href="/upload/rnc">RNC</a>
                        </li>
                        </li>{{/if}}
                    </ul>
                    <ul class="nav navbar-nav">{{#if user.displayName}}
                        <li><a href="/bluetooth">Bluetooth</a>
                        </li>{{/if}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">{{#if user.displayName}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.displayName}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/{{user.id}}">Profile</a></li>
                                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
                            </ul>
                        </li>
                        {{else}}<li><a href="/login/google">Sign In&nbsp;<span class="glyphicon glyphicon-log-in"></span></a></li>{{/if}}
                    </ul>
                </div>

            </div>
        </div>
        <div class="container">{{{body}}}</div>
        <br />
        <br />
        <div class="navbar">
            <div class="navbar-inner">
                <div class="width-constraint clearfix">
                    <p class="pull-left muted credit">&nbsp;&nbsp;&nbsp;{{site.title}}: {{site.description}}</p>
                    <p class="pull-right muted credit">©2013 <a href="/about">RedNine</a>. Designed by <a target="_blank" href="mailto:{{author.email}}">{{author.displayName}}</a> &nbsp;&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <!-- Placed at the end of the document so the pages load faster -->
    </body>
</html>
