<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page_title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="application-name" content="{{site.title}}">
        <meta name="description" content="{{site.description}}">
        <meta name="author" content="{{author.displayName}}">

        {{#unless spa}}
        <script src="/static/js/vendor/require.js"></script>
        <script src="/static/js/requireconfig.js"></script>
        <script>
require(['vendor/jquery', 'vendor/underscore', 'vendor/bootstrap', 'vendor/jquery-ui'], function() {
});
        </script>
        {{/unless}}


        <link href="/static/css/jquery-ui-1.10.3.css" rel="stylesheet">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/bootstrap-markdown.css" rel="stylesheet">
        <link href="/static/css/rickshaw.css" rel="stylesheet">
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="glyphicon glyphicon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">{{site.title}}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">{{#if user.displayName}}
                        <li><a href="/bluetooth">Bluetooth</a></li>
                        <li><a href="/upload/rnc">RNC</a></li>
                        <li><a href="/dataset/">Datasets</a></li>
                        <li><a href="/event/">Events</a></li>
                        {{/if}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">{{#if user.displayName}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.displayName}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/user/{{user.id}}">Profile</a></li>
                                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
                            </ul>
                        </li>
                        {{else}}<li><a href="/login/authenticate">Sign In&nbsp;<span class="glyphicon glyphicon-log-in"></span></a></li>{{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {{#if development}}<div class="alert alert-info">Careful: you're working on the development site</div>{{/if}}
            {{{body}}}

        </div>
        <br />
        <br />

        <div id="fixedBottomBarDiv"></div>

        {{! Navbar "fixed bottom" taken from http://stackoverflow.com/a/19231861}}
        <div class="navbar" style="margin-bottom:0px;margin-left:0px;margin-right:0px;clear:both;">
            <div class="navbar-inner">
                <div class="width-constraint clearfix">
                    <p class="pull-left muted credit">&nbsp;&nbsp;&nbsp;{{site.title}}: {{site.description}}</p>
                    <p class="pull-right muted credit">©2013 <a href="/about">RedNine</a>. Designed by <a target="_blank" href="mailto:{{author.email}}">{{author.displayName}}</a> &nbsp;&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>


    </body>
</html>
