
<style>

    /* Styles for a "console like" appearance */
    #processing_notes {
        color: #DDD;
        background: #222;
        padding: 4px 6px;
        border: 2px #222 solid;
        font-family: Consolas, sans-serif;
        font-size: 13px;
    }
    #processing_notes #processing_note {
        margin: 0;
        padding: 0px 10px;
    }
    #processing_notes #processing_note:nth-child(odd) {
        background: #333;
    }
    #processing_notes {
        max-height: 600px;
        min-height: 600px;
        overflow: scroll;
        padding: 0;
    }

</style>

<div>
    <h1>This is only for admins!</h1>

    <p>Use this page to start statistics (re) processing. Needed when new statistics are added</p>
</div>

<div id="processing_notes">    
</div>

<!-- Timer Source: http://stackoverflow.com/questions/5517597/plain-count-up-timer-in-javascript -->
<h5>Processing Duration: <b id="minutes">00</b>:<b id="seconds">00</b></h5>


<button type="button" onclick="BeginReprocessing()" class="btn btn-danger btn-lg">Start Reprocessing</button>

<script src="/socket.io/socket.io.js"></script>
<script>

    var clock_updater;
    var sec = 0;
    function pad(val) {
        return val > 9 ? val : "0" + val;
    }

    var socket = io.connect();

    // Connect to the server Socket.io for this page
    socket.emit('page_uuid', {page_uuid: '{{page_uuid}}'});


    var BeginReprocessing = function() {
        clock_updater = setInterval(function() {
            $("#seconds").html(pad(++sec % 60));
            $("#minutes").html(pad(parseInt(sec / 60, 10)));
        }, 1000);
        
        socket.emit('begin_event_reprocessing', true);
    };

    jQuery(function($) {
        var processing_notes = $('#processing_notes');

        // Add text as it comes in from the server
        socket.on('note', function(data) {
            processing_notes.append('<p class="#processing_note">' + data.text + '</p>');

            $('#processing_notes').stop().animate({
                scrollTop: $("#processing_notes")[0].scrollHeight
            }, 500);
        });

        // Redirect (or at least stop timer) when done.
        socket.on('done_processing', function(data) {
            processing_notes.append('<p class="#processing_note">----------------</p>');
            processing_notes.append('<p class="#processing_note">Done processing</p>');

            // Stop clock (clear is a bit of a misnomer).
            clearInterval(clock_updater);
        });
    });

</script>



<br />
<br />
Just FYI, the UUID of the dataset we're processing:
<br />
{{{uuid}}}



