
<style>
    
    /* Styles for a "console like" appearance */
    #processing_notes {
        color: #DDD;
        background: #222;
        padding: 4px 6px;
        border: 2px #222 solid;
        font-family: Consolas, sans-serif;
        font-size: 13px;
    }
    #processing_notes #processing_note {
        margin: 0;
        padding: 0px 10px;
    }
    #processing_notes #processing_note:nth-child(odd) {
        background: #333;
    }
    #processing_notes {
        max-height: 600px;
        min-height: 600px;
        overflow: scroll;
        padding: 0;
    }

</style>

<div>
    <p>We're Processing! Please wait.</p>

    <p>Since processing may take a while (a few seconds up to a few minutes), you can go to your <a href='/dataset'>dataset index</a> to view previously uploaded data. Please refresh that page when you think processing is done.</p>

    <p>Otherwise, hang around and watch the processing magic:</p>
    
    <h3>Processing Magic removed.</h3>
    
    <h5>Thanks for your consideration,</h5>
    <h5>The Management</h5>
</div>

<div id="processing_notes">    
</div>

<!-- Timer Source: http://stackoverflow.com/questions/5517597/plain-count-up-timer-in-javascript -->
<h5>Processing Duration: <b id="minutes">00</b>:<b id="seconds">00</b></h5>

<p id='redirect_area'><label><input type='checkbox' id='redirect_checkbox' checked>&nbsp;Redirect when done</label> </p>

<br />
<br />
Just FYI, the UUID of the dataset we're processing:
<br />
<a href="/dataset/{{{dataset.id}}}">{{{dataset.id}}}</a>



