<script src="/js/moment.min.js"></script>

<script src="/js/lenses/eventlist.js"></script>
<script src="/js/lenses/googlemap.js"></script>

<script src="/js/panelrequestqueue.js"></script>

<!-- The Google Maps script tag should really be with the googlemaps.html
lens, but it turns out that it's subject to same origin policy. So, it's
here. 

Update: or something. I left this script in the googlemap.html file, thinking
it wouldn't do anything. Turns out, it does. It won't work with just the
script tag in googlemaps.html ("ReferenceError: google is not defined"), but
when I have both it and the script tag below I get inconsistent map loads.
Sometimes it loads, sometimes it loads a blank space. Grrr... -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzYsEDTVazN_ic9SsHVvhcSCLwlLEHd7Q&amp;sensor=true&amp;libraries=geometry">
</script>

<script>

    /**
     * Generates a GUID string, according to RFC4122 standards.
     * @returns {String} The generated GUID.
     * @example af8a8416-6e18-a307-bd9c-f2c947bbb3aa
     * @author Slavik Meltser (slavik@meltser.info).
     * @link http://slavik.meltser.info/?p=142
     */
    function generateUUID() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return (_p8() + _p8(true) + _p8(true) + _p8());
    }

    var apiUrl = '{{apiUrl}}';
    var datasetId = '{{id}}';
    var pageDataset;

    var lensesList = [];
    function updateRange(minimumTime, maximumTime) {
        console.log("You've updated the time: " + minimumTime + " - " + maximumTime);
        _.each(lensesList, function(lens){
           lens.setRange(minimumTime, maximumTime); 
        });
    }

    function updateHover(time) {

    }

    function updateMarkers(markerATime, markerBTime) {

    }

    function updatePlaytime(time) {

    }
    
    

    function ConstructPage(dataset) {
        pageDataset = dataset;
        
        var requestqueue = new RequestQueue({
            apiUrl: apiUrl
        }, dataset);



        var eventlistId = generateUUID();
        $('#lenses_div').append('<div class="row" id="' + eventlistId + '_container"></div>');
        var eventlist_parameters = {
            id: eventlistId,
            requestPanelFunction: requestqueue.requestPanel,
            updateRangeFunction: updateRange,
            updateHoverFunction: updateHover,
            updateMarkersFunction: updateMarkers,
            updatePlaytimeFunction: updatePlaytime
        };
        var eventlist = new EventList(eventlist_parameters, dataset, {});
        lensesList.push(eventlist);

        var googlemapId = generateUUID();
        $('#lenses_div').append('<br/><br/><br/><div class="row" id="' + googlemapId + '_container"></div>');
        var googlemap_parameters = {
            id: googlemapId,
            requestPanelFunction: $.proxy(requestqueue.requestPanel, requestqueue),
            updateRangeFunction: updateRange,
            updateHoverFunction: updateHover,
            updateMarkersFunction: updateMarkers,
            updatePlaytimeFunction: updatePlaytime
        };
        var googlemap = new GoogleMap(googlemap_parameters, dataset, {});
        lensesList.push(googlemap);
        

    }

    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: apiUrl + '/dataset/' + datasetId,
            dataType: 'json',
            success: ConstructPage
        });
        
        $('#reset_range_button').click(function(){
            updateRange(pageDataset.start_time, pageDataset.end_time);
        });


    });


</script>
<button id="reset_range_button">Global Zoom Out</button>

    <div id='lenses_div'>

    </div>

