<script src="/js/moment.min.js"></script>

<script src="/js/lenses/eventlist.js"></script>
<script src="/js/lenses/googlemap.js"></script>
<script src="/js/lenses/graph.js"></script>

<script src="/js/panelrequestqueue.js"></script>

<script src="/js/easyspinner.js"></script>

<script src="/js/dygraph-combined.js"></script>
<script src="/js/dygraph-extra.js"></script>

<!-- The Google Maps script tag should really be with the googlemaps.html
lens, but it turns out that it's subject to same origin policy. So, it's
here. 

Update: or something. I left this script in the googlemap.html file, thinking
it wouldn't do anything. Turns out, it does. It won't work with just the
script tag in googlemaps.html ("ReferenceError: google is not defined"), but
when I have both it and the script tag below I get inconsistent map loads.
Sometimes it loads, sometimes it loads a blank space. Grrr... -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzYsEDTVazN_ic9SsHVvhcSCLwlLEHd7Q&amp;sensor=true&amp;libraries=geometry">
</script>

<script>

    /**
     * Generates a GUID string, according to RFC4122 standards.
     * @returns {String} The generated GUID.
     * @example af8a8416-6e18-a307-bd9c-f2c947bbb3aa
     * @author Slavik Meltser (slavik@meltser.info).
     * @link http://slavik.meltser.info/?p=142
     */
    function generateUUID() {
        function _p8(s) {
            var p = (Math.random().toString(16) + "000000000").substr(2, 8);
            return s ? "-" + p.substr(0, 4) + "-" + p.substr(4, 4) : p;
        }
        return (_p8() + _p8(true) + _p8(true) + _p8());
    }

    var apiUrl = '{{apiUrl}}';
    var datasetId = '{{id}}';
    var pageDataset;

    var lensesList = [];
    function updateRange(minimumTime, maximumTime) {
        console.log("You've updated the time: " + minimumTime + " - " + maximumTime);
        if ($('#sync_lenses_button').hasClass('active')) {
            _.each(lensesList, function(lens) {
                //lens.setRange(minimumTime, maximumTime);
            });
        }
    }

    function updateHover(time) {

    }

    function updateMarkers(markerATime, markerBTime) {

    }

    function updatePlaytime(time) {

    }

    function CreateLens(requestqueue, dataset, type, configuration) {
        var id = generateUUID();
        $('#lenses_div').append('<div class="row" id="' + id + '_container"></div>');
        var lens_parameters = {
            id: id,
            apiDomain: apiUrl,
            requestPanelFunction: $.proxy(requestqueue.requestPanel, requestqueue),
            updateRangeFunction: updateRange,
            updateHoverFunction: updateHover,
            updateMarkersFunction: updateMarkers,
            updatePlaytimeFunction: updatePlaytime
        };
        var lens;
        if (type === 'EventList') {
            lens = new EventList(lens_parameters, dataset, configuration);
        } else if (type === 'Graph') {
            lens = new Graph(lens_parameters, dataset, configuration);
        } else if (type === 'GoogleMap') {
            lens = new GoogleMap(lens_parameters, dataset, configuration);
        } else { // Not found...
            return;
        }

        lensesList.push(lens);
    }


    function ConstructPage(dataset) {
        pageDataset = dataset;

        var requestqueue = new RequestQueue({
            apiUrl: apiUrl
        }, dataset);


        CreateLens(requestqueue, dataset, 'EventList', {});

        CreateLens(requestqueue, dataset, 'GoogleMap', {});

        CreateLens(requestqueue, dataset, 'Graph', {
            axes: [
                'acceleration:x',
                'acceleration:y',
                'acceleration:z'
            ]
        });
        CreateLens(requestqueue, dataset, 'Graph', {
            axes: [
                'rotationrate:x',
                'rotationrate:y',
                'rotationrate:z'
            ]
        });
        CreateLens(requestqueue, dataset, 'Graph', {
            axes: [
                'magneticfield:x',
                'magneticfield:y',
                'magneticfield:z'
            ]
        });
        CreateLens(requestqueue, dataset, 'Graph', {
            axes: [
                'pressure:pressure'
            ]
        });






    }

    $(document).ready(function() {
        $.ajax({
            type: 'GET',
            url: apiUrl + '/dataset/' + datasetId,
            dataType: 'json',
            success: ConstructPage
        });

        $('#reset_range_button').click(function() {
            updateRange(pageDataset.start_time, pageDataset.end_time);
        });


    });


</script>


<div id="create_event_modal"> <!--Loaded by jQuery--> </div>

<button id="reset_range_button" class="btn btn-default">Global Zoom Out</button>
<button class="btn btn-default active" data-toggle="button" id="sync_lenses_button">Sync Lenses</button>
<br /><br /><br />

<div id='lenses_div'>

</div>

