
<!-- The Google Maps script tag should really be with the googlemaps.html
lens, but it turns out that it's subject to same origin policy. So, it's
here. 

Update: or something. I left this script in the googlemap.html file, thinking
it wouldn't do anything. Turns out, it does. It won't work with just the
script tag in googlemaps.html ("ReferenceError: google is not defined"), but
when I have both it and the script tag below I get inconsistent map loads.
Sometimes it loads, sometimes it loads a blank space. Grrr... -->
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzYsEDTVazN_ic9SsHVvhcSCLwlLEHd7Q&amp;sensor=true&amp;libraries=geometry">
</script>

<script src="/js/async.js"></script>
<script src="/js/jquery.history.js"></script>

<script src="/js/dygraph-custom.js"></script>

<script src="/js/tiles/eventlist.js"></script>
<script src="/js/tiles/googlemap.js"></script>
<script src="/js/tiles/panelgraph.js"></script>
<script src="/js/tiles/summarystatistics.js"></script>
<script src="/js/tiles/resourcedetails.js"></script>
<script src="/js/tiles/downloadpanelmodal.js"></script>
<script src="/js/tiles/editresourcemodal.js"></script>
<script src="/js/URI.js"></script>

<script src="/js/sandbox.js"></script>

<script>
            sandbox.apiUrl = '{{apiUrl}}';

            var GetUSROperands = function() {
                return {};
            };
            $(document).ready(function() {




                GetUSROperands = function() {


                    var result = {
                        datasets: [
                            sandbox.focusState.dataset
                        ]
                    };
                    return result;
                };



                $('#navbar-fixed-bottom-run-usr-button').on('click', function(element) {
                    displayUsrModal();
                });

                $('#navbar-fixed-bottom-download-panel-button').on('click', function(element) {
                    sandbox.resourceDownload('panel', sandbox.focusState.panel);
                });

                $('#navbar-fixed-bottom-edit-dataset-button').on('click', function(element) {
                    sandbox.resourceEdit('dataset', sandbox.focusState.dataset);
                });

                $('#navbar-fixed-bottom-create-event-button').on('click', function(element) {
                    var request_url = '/snippet/createeventmodal'
                            + '?startTime=' + sandbox.focusState.startTime
                            + '&endTime=' + sandbox.focusState.endTime
                            + '&dataset=' + sandbox.focusState.dataset;

                    $("#create_event_modal").load(request_url, function() {
                        $("#new_event_modal").modal('show');
                    });
                });

                $('#navbar-fixed-bottom-zoom-out-button').on('click', function(element) {
                    var zoom = calculateZoom('out',
                            sandbox.focusState.minStartTime,
                            sandbox.focusState.maxEndTime,
                            sandbox.focusState.startTime,
                            sandbox.focusState.endTime
                            );
                    sandbox.resourceFocused('dataset', sandbox.focusState.dataset, zoom.startTime, zoom.endTime);
                });
                $('#navbar-fixed-bottom-zoom-out-full-button').on('click', function(element) {
                    sandbox.resourceFocused('dataset', sandbox.focusState.dataset);
                });
                $('#navbar-fixed-bottom-zoom-in-button').on('click', function(element) {
                    var zoom = calculateZoom('in',
                            sandbox.focusState.minStartTime,
                            sandbox.focusState.maxEndTime,
                            sandbox.focusState.startTime,
                            sandbox.focusState.endTime
                            );
                    sandbox.resourceFocused('dataset', sandbox.focusState.dataset, zoom.startTime, zoom.endTime);
                });



            });

            function calculateZoom(zoomDirection, datasetStartTime, datasetEndTime, currentStartTime, currentEndTime) {
                var result = {};
                var zoomOutTime = currentEndTime - currentStartTime;
                var zoomInTime = Math.floor(zoomOutTime / 3);

                if (_.isString(currentStartTime)) {
                    console.log('currentStartTime is string...');
                }

                if (_.isString(zoomInTime)) {
                    console.log('zoomInTime is string...');
                }

                console.log('zoomInTime: ' + zoomInTime);

                if (zoomDirection === 'in') {
                    if (typeof currentStartTime === 'undefined' || typeof currentEndTime === 'undefined') {
                        // Zoom in and don't know where from
                        return {};
                    }


                    result = {
                        startTime: currentStartTime + zoomInTime,
                        endTime: currentEndTime - zoomInTime
                    };
                } else { // Zoom direction === 'out'
                    if (typeof currentStartTime === 'undefined' || typeof currentEndTime === 'undefined'
                            || typeof datasetStartTime === 'undefined' || typeof datasetEndTime === 'undefined') {
                        // Zoom out to we don't know where.
                        return {};
                    }

                    result = {
                        startTime: currentStartTime - zoomOutTime,
                        endTime: currentEndTime + zoomOutTime
                    };
                }

                // Make sure the difference isn't too small.
                if (result.endTime <= result.startTime) {
                    result.endTime = result.startTime + 1;
                }

                // Make sure they're not too big
                if (result.startTime < datasetStartTime) {
                    delete result.startTime;
                }

                if (result.endTime > datasetEndTime) {
                    delete result.endTime;
                }

                return result;
            }



            var usrModalInstance;
            function displayUsrModal() {

                if (typeof usrModalInstance === 'undefined') {
                    console.log('First time load...');
                    // First time, load modal
                    $('#usr_modal_div').load('/snippet/usrmodal', function() {
                        usrModalInstance = new usrModal();
                        usrModalInstance.show();
                    });
                } else {
                    usrModalInstance.show();
                }

            }




</script>

<div id="usr_modal_div"> <!--Loaded by jQuery--> </div>
<div id="create_event_modal"> <!--Loaded by jQuery--> </div>

<div id="sandboxContentDiv">

</div>

