


<form data-name="rncuploadform" action="{{actionUrl}}/upload/rnc" method="post" enctype="multipart/form-data" class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>RNC Upload</legend>

        <input type="hidden" name="owner" value="{{user.id}}"/>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="rnc">RNC File</label>
            <div class="col-md-6">
                <input name="rnc" type="file">
                <p class="help-block">Select the RNC file to process.</p>
            </div>
        </div>


        <div class="form-group">
            <label for="title" class="col-md-3 control-label">Title</label>
            <div class="col-md-6"> 
                <input type="text" class="form-control" name="title" placeholder="title" /> 
                <p class="help-block">Chose a short, descriptive name. If not specified it will default to the filename. You can always edit it later.</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label" for="submitbutton"></label>
            <div class="col-lg-6">
                <button name="submitbutton" class="col-md-3 btn btn-large btn-primary" type="submit" value="Submit">Upload</button>
            </div>
        </div>
    </fieldset>
</form>

<div class="hidden">
    Upload Progress
    <div class="progress">
        <div class="progress-bar" role="progressbar" data-name="uploadprogressbar" style="width:0%"></div>
    </div>
</div>


<div class="hidden alert alert-success" data-name="uploadsuccess">
    <p>You've successfully uploaded your RNC, and it's now processing. Your dataset will be found at <a data-name="datasetlink"></a></p>
    <p>This page will automatically be redirected when all processing is done.</p>
    <div class="processing_notes">    
    </div>
</div>
<p class="hidden alert alert-danger" data-name="uploadfailure"></p>

<script src="/static/js/vendor/require.js"></script>
<script src="/static/js/requireconfig.js"></script>
<script>

require(['vendor/jquery', 'vendor/underscore', 'socketio', 'vendor/jquery.validate', 'vendor/jquery.validate.additional-methods'], function($, _, io) {
    // AJAX: always send session cookie with requests.
    $.ajaxSetup({
        xhrFields: {
            withCredentials: true
        }
    });

    $(document).ready(function() {

        var kCheckInterval = 3000;

        function progressHandlingFunction(e) {
            console.log('Got progress');
            if (e.lengthComputable) {
                console.log('Progress: ' + e.loaded + ' / ' + e.total);
                $('[data-name=uploadprogressbar]').css('width', Math.floor((e.loaded / e.total) * 100) + '%');
            }
        }

        // http://api.localdev.redninesensor.com/panel/30ce1686-8ecc-cc2a-9c4e-0e092a26588d/body/?buckets=1000&format=json&cache=on&startTime=1397575598860&endTime=1397576936580

        var $area = $('.processing_notes');
        function addToConsole(line) {
            $area.append('<p class="processing_note">' + line + '</p>');
            $area[0].scrollTop = $area[0].scrollHeight;
        }

        function redirectToUrl(id, url) {
            $.ajax({
                type: 'GET',
                url: '{{apiUrl}}/dataset/' + id + '?expand=headPanel',
                dataType: 'json',
                success: function(dataset) {
                    if (dataset.length !== 1
                            || typeof dataset[0].headPanel === 'undefined'
                            || _.keys(dataset[0].headPanel.summaryStatistics).length === 0
                            ) {
                        // For the case when the the dataset has just been
                        // uploaded, and processing is not done yet.
                        setTimeout(function() {
                            redirectToUrl(id, url);
                        }, kCheckInterval);
                        return;
                    } else {
                        addToConsole('Summary statistics calculation complete.');
                        addToConsole('Starting panel cache');
                        var panelUrl = '{{apiUrl}}/panel/' + dataset[0].headPanel.id
                                + '/body/?buckets=1000&format=json&cache=on&startTime='
                                + dataset[0].headPanel.startTime
                                + '&endTime='
                                + dataset[0].headPanel.endTime;
                        $.ajax({
                            type: 'GET',
                            url: panelUrl,
                            dataType: 'json',
                            success: function(panel) {
                                addToConsole('Panel cache done.');
                                window.location.replace(url);
                            }
                        })

                    }
                }


            });

        }

        function submitHandler(form) {
            var $form = $(form);
            $form.find('[name=submitbutton]').attr('disabled', 'disabled');

            $('[data-name=uploadprogressbar]').parent().parent().removeClass('hidden');

            var formData = new FormData($form[0]);

            $.ajax({
                url: $form.attr('action'),
                type: "POST",
                xhr: function() { // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) { // Check if upload property exists
                        myXhr.upload.addEventListener('progress', progressHandlingFunction, false);
                    }
                    return myXhr;
                },
                data: formData,
                success: function(response) {


                    var socket = io.connect('{{actionUrl}}');

                    socket.on('update', addToConsole);

                    var id = response.datasetId;
                    var url = '/dataset/' + id;

                    $('[data-name=uploadsuccess]')
                            .removeClass('hidden')
                            .find('a')
                            .attr('href', url)
                            .text(id);
                    redirectToUrl(id, url);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('[data-name=uploadfailure]').removeClass('hidden').text(textStatus + '---' + errorThrown + ' --- ' + jqXHR.responseText);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }


        $('[data-name=rncuploadform]').validate({
            rules: {
                file: {
                    required: true,
                    extension: "RNC"
                }
            },
            messages: {
                file: {
                    required: "You must provide an RNC file for upload.",
                    extension: "Must be an RNC file (with that extension)."
                }
            },
            submitHandler: submitHandler
        });
    });
});
</script>
