<style>
    .modal-dialog-center {
        margin-top: 30%;
    }
</style>

<script src="/js/jquery.jeditable.js"></script>
<script src="/js/spin-1.3.0.min.js"></script>
<script src="/js/easyspinner.js"></script>
<script src="/js/moment.min.js"></script>



<script>

    var bluetoothDeviceTemplate = '<button class="list-group-item btn btn-default btn-lg btn-block" id="%id">'
            + '<h3>%device</h3>'
            + '<p>%address</p>'
            + '</button>';

    var scadPropertiesTemplate = '<tr>'
            + '<td><b>%key</b></td>'
            + '<td class="editable scad_properties_cell">%value</td>'
            + '</tr>';

    var scadRecordingTemplate = '<tr>'
            + '<td><b>%name</b><br />%filesize, created at %creationdate</td>'
            + '<td><button class="btn btn-default btn-sm" onclick="TransferFile(\'%name\');">Transfer</button></td>'
            + '<td><button class="btn btn-default btn-sm btn-danger" onclick="DeleteFile(\'%name\');">Delete</button></td>'
            + '</tr>';

    var ShowModal = function(filename) {
        $('#modalTransferFile').modal('show');
        $("#modalTransferFileCloseButton").hide();
        $("#modalTransferFileCancelButton").show();

        //$("#modalTransferFileProgressHolder").addClass("active progress-striped");

        var startTime = new Date().getTime();

        var interval = setInterval(function() {

            var bytesTransfered = BluetoothHost.GetRecordingBytesTransfered();
            var transferSpeed = bytesTransfered / (((new Date().getTime()) - startTime) / 1000.0);

            //$("#modalTransferFileProgressBar").width(percent + "%");
            $("#modalTransferFileProgressText").text((bytesTransfered / 1024).toFixed(2) + " KB, " + (transferSpeed / 1024).toFixed(2) + " KB/s");


            if (BluetoothHost.GetRecordingDone()) {
                clearInterval(interval);
                var previousText = $("#modalTransferFileProgressText").text();
                $("#modalTransferFileProgressText").text(previousText + " ( Done )");
                $("#modalTransferFileCloseButton").show();
                $("#modalTransferFileCancelButton").hide();
                $("#modalTransferFileProgressHolder").removeClass("active progress-striped");
            }
        }, 500);

        $('#modalTransferFileCancelButton').on('click', function() {
            clearInterval(interval);
            var previousText = $("#modalTransferFileProgressText").text();
            $("#modalTransferFileProgressText").text(previousText + " ( Cancelled )");
            $("#modalTransferFileCloseButton").show();
            $("#modalTransferFileCancelButton").hide();
            $("#modalTransferFileProgressHolder").removeClass("active progress-striped");
            BluetoothHost.GetRecordingCancel();
        });
    };

    var TransferFile = function(filename) {
        console.log("JS: Transfering file " + filename);
        var result = BluetoothHost.GetRecording(filename, filename);
        if (result === true) {
            //alert("Transfering file to Downloads (" + filename + ")");
            ShowModal();
        } else {
            alert("Could not start file transfer.");
        }

    };

    var DeleteFile = function(filename) {
        alert("Sorry, deleting is not supported right now.");
    };

    var AddPropertyToTable = function(name, value) {
        $("#scadpropertytable").append(
                scadPropertiesTemplate
                .replace("%key", name)
                .replace("%value", value)
                );
        $('.editable').editable(function(editedValue, settings) {
            console.log(this);
            console.log(editedValue);
            console.log(settings);

            BluetoothHost.SetParameter(name, editedValue);

            return(editedValue);
        }, {
            type: 'text',
            width: ($('.scad_properties_cell').width() - 10) + "px",
            height: ($('.scad_properties_cell').height() + 8) + "px"
        });
    };

    var AddLineToRecordingTable = function(filename, filesize, creationdate) {
        $("#scadavailablerecordingstable").append(
                scadRecordingTemplate
                .replace("%name", filename) // Three times to replace all 3 of the recordings.
                .replace("%name", filename)
                .replace("%name", filename)
                .replace("%filesize", filesize)
                .replace("%creationdate", creationdate)
                );
    };


    var ShowSCADDivs = function(connected) {
        if (connected) {
            $("#bluetoothDisconnectedDiv").hide();
            $("#bluetoothConnectedDiv").show();
        } else {
            $("#bluetoothDisconnectedDiv").show();
            $("#bluetoothConnectedDiv").hide();
        }
    };

    var GetConnectionInformation = function() {
        var result = $.parseJSON(BluetoothHost.GetParameters());
        if (typeof result.error === "undefined") {
            $("#scadpropertytable").empty();
            for (var key in result) {
                AddPropertyToTable(result[key].prettyName, result[key].value);
            }

        } else {
            alert("Could not get properties.");
        }
    };

    var updateSCADClock = function() {
        if (typeof BluetoothHost !== "undefined") {
            var now = new Date();
            console.log("Before setting time");
            BluetoothHost.SetDateTime(
                    now.getUTCFullYear(),
                    now.getUTCMonth() + 1, // UTC months start at 0.
                    now.getUTCDate(), // Get the day of month
                    now.getUTCHours(),
                    now.getUTCMinutes(),
                    now.getUTCSeconds()
                    );
            alert("Successfully set SCAD clock.");
        }
    };



    var GetAvailableRecordings = function() {
        var result = $.parseJSON(BluetoothHost.GetAvailableRecordings());
        if (typeof result.recordings !== "undefined") {
            $("#scadavailablerecordingstable").empty();
            for (var index = 0; index < result.recordings.length; index++) {
                
                var createdate = moment(result.recordings[index].creationdate).format("YYYY-MM-DD  hh:mm:ss a");
                var filesize = (result.recordings[index].filesize / 1024).toFixed(2) + " KB";
                
                AddLineToRecordingTable(result.recordings[index].filename,
                filesize,
                createdate
                );
            }
        } else {
            alert("No recordings! This is likely a problem with the App. Please report.");
        }
    };

    var AddBluetoothDevice = function(name, address) {
        var id = "id-" + address.replace(/:/g, "d");

        $("#bluetoothDeviceList").append(
                bluetoothDeviceTemplate
                .replace("%device", name)
                .replace("%address", address)
                .replace("%id", id)
                );
        $("#" + id).on('click', function() {
            //alert("Clicked!");
            console.log("Showing spinner");
            var spinner = new SRLM.EasySpinner($("#" + id));
            spinner.showSpinner(true);
            console.log("Spinner shown");


            if (typeof BluetoothHost !== "undefined") {
                BluetoothHost.ConnectTo(address); // Blocking
                if (BluetoothHost.IsConnected()) {
                    ShowSCADDivs(true);
                    GetConnectionInformation();
                    GetAvailableRecordings();
                } else {
                    alert("Could not connect to device selected.");
                }
            }
            console.log("Stopping spinner");
            spinner.showSpinner(false);

        });
    };


    $(document).ready(function() {
        if (typeof BluetoothHost !== "undefined") {
            $("#NoBluetoothAvailableDiv").hide();
            $("#BluetoothAvailableDiv").show();

            if (BluetoothHost.IsConnected()) {
                ShowSCADDivs(true);
                GetConnectionInformation();
                GetAvailableRecordings();
            } else {
                ShowSCADDivs(false);
            }

            $("#bluetoothDeviceList").empty();
            var devices = $.parseJSON(BluetoothHost.GetBluetoothDevices());

            if (typeof devices === "undefined") {
                //TODO(SRLM): Do something
            }

            for (var i = 0; i < devices.devices.length; i++) {
                AddBluetoothDevice(devices.devices[i].name, devices.devices[i].address);
            }


            $("#bluetoothDisconnectButton").on('click', function() {
                BluetoothHost.Disconnect();
                ShowSCADDivs(false);
            });

        } else {
            $("#NoBluetoothAvailableDiv").show();
            $("#BluetoothAvailableDiv").hide();

            //$("#bluetoothDeviceList").empty();
            //AddBluetoothDevice("Name", "00:06:66:62:59:2F");
            //AddBluetoothDevice("Name", "55:55:55:55:55:55");
        }
    });



</script>

<div id="modalTransferFile" class="modal" data-backdrop="static" tabindex="-1" data-width="760">
    <div class="modal-header">
        <h3>Recording Transfer</h3>
    </div>
    <div class="modal-body">

        <div id="modalTransferFileProgressHolder" class="progress progress-striped">
            <div class="progress-bar" id="modalTransferFileProgressBar" role="progressbar" style="width:100%;">
            </div>
        </div>
        <p id="modalTransferFileProgressText">Text!</p>
        <p>File saved to your Download folder (try using ES File explorer to upload it)</p>
    </div>
    <div class="modal-footer">
        <button id="modalTransferFileCancelButton" type="button" class="btn btn-danger">Cancel Transfer</button>
        <button id="modalTransferFileCloseButton" type="button" data-dismiss="modal" class="btn">Close</button>
    </div>
</div>

<div id="modalDeleteFile" class="modal" data-backdrop="static" tabindex="-1" data-width="760">
    <div class="modal-header">
        <h3>Recording Transfer</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure? This is permanent and cannot be undone.</p>
    </div>
    <div class="modal-footer">
        <button id="modalDeleteFileConfirmButton" type="button" class="btn btn-danger">Delete</button>
        <button id="modalDeleteFileCloseButton" type="button" data-dismiss="modal" class="btn">Cancel</button>
    </div>
</div>

<div id="NoBluetoothAvailableDiv">
    <h2>Bluetooth is available with our Android App:</h2>
    <a href="https://play.google.com/store/apps/details?id=com.redninesensor.android"><img src="images/androidappstore.jpg"/></a>
</div>

<div id="BluetoothAvailableDiv">

    <div id ="bluetoothDisconnectedDiv">
        <h3>Connect to a device:</h3>

        <ul class="list-group" id="bluetoothDeviceList">
            <li class="list-group-item">(No devices available)</li>
        </ul>

        <h4>Don't see you device listed? Try scanning and pairing from the System Bluetooth Panel first, then restart the App.</h4>
    </div>


    <div id="bluetoothConnectedDiv">
        <a class="btn btn-default btn-lg btn-block" id="bluetoothDisconnectButton">Disconnect from SCAD</a>

        <h3>Properties</h3>
        <table cellpadding="3" cellspacing="3" class="table table-striped" id="scadpropertytable">
        </table>

        <button onclick="updateSCADClock()" type="button" class="btn btn-default">Sync SCAD Clock to Phone</button>

        <h3>Available Recordings</h3>
        <table cellpadding="3" cellspacing="3" class="table table-striped" id="scadavailablerecordingstable">
        </table>



        <!--        <h3>Controls</h3>
                <a class="btn btn-success btn-lg btn-block" id="startRecordingButton">Begin Recording</a>
                <a class="btn btn-danger btn-lg btn-block" id="endRecordingButton">Stop Recording</a>
                <br />
                <a class="btn btn-warning btn-lg btn-block" id="startRecordingButton">Turn Off</a>-->
    </div>

</div>