<script src="/js/dygraph-combined.js"></script>
<script src="/js/spin-1.3.0.min.js"></script>
<script src="/js/easyspinner.js"></script>
<script src="/js/dygraph-dynamic.js"></script>
<script src="/js/dygraph-extra.js"></script>
<script src="/js/datetimeformatter.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzYsEDTVazN_ic9SsHVvhcSCLwlLEHd7Q&sensor=true&amp;libraries=geometry">
</script>

<style>
    .modal-dialog-center {
        margin-top: 30%;
    }

    .dygraph-axis-label.dygraph-axis-label-x{
        color: gray;
    }

    .dygraph-axis-label.dygraph-axis-label-y{ 
        color: gray;
    }

    .dygraph-label.dygraph-xlabel{
        color: gray;
    }
</style>

<script>
    // Define these "replaced" variables in one spot so we don't have to hunt them down.
    var dataset_id = "{{{event.dataset}}}";
    var event_id = "{{{event.id}}}";
    var start_time = Date.parse("{{{event.start_time}}}");
    var end_time = Date.parse("{{{event.end_time}}}");
    var parentEvent = "{{event.parent}}";

    var event_tree_url = "/snippet/eventtree?id=" + event_id;
    var summary_statistics_snippet_url = "/snippet/summarystatistics?units=common&id=" + event_id;
    var aggregate_statistics_snippet_url = "/snippet/aggregatestatistics?units=common&id=" + event_id;


    var LoadAggregateStatistics = function() {
        $("#aggregatestatistics").load(aggregate_statistics_snippet_url,
                function(response, status, xhr) {
                    if (xhr.status === 204) {
                        setTimeout(LoadAggregateStatistics, 1000);
                    }
                });
    };

    var LoadSummaryStatistics = function() {
        $("#summarystatistics").load(summary_statistics_snippet_url,
                function(response, status, xhr) {
                    if (xhr.status === 204) {
                        setTimeout(LoadSummaryStatistics, 1000);
                    }
                });
    };

    $(document).ready(function() {
        // Dynamically load snippets.


        $("#insert_event_tree").load(event_tree_url);
        LoadSummaryStatistics();
        LoadAggregateStatistics();



        mapSpinner = new SRLM.EasySpinner($('#map_row'));

        var mapOptions = {
            zoom: 3,
            center: new google.maps.LatLng(42.228147, -103.541772),
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        UpdateMap(start_time, end_time);

        for (var j = 0; j < graph_configurations.length; j++) {
            InitializeGraph(j);
        }

        // Delete this event
        $("#delete").click(function() {
            if (parentEvent !== "") {
                $.ajax(
                        "/api/event/{{event.id}}",
                        {
                            type: "delete",
                            async: false
                        }
                ).done(function() {
                    window.location.replace('/event/' + parentEvent);
                }).fail(function() {
                    alert("Internal Error: could not delete event. Please notify a sysadmin.");
                });
            } else {
                // Shouldn't be able to get here (no delete button if no parent), but warn just in case.
                alert("Can't delete an event with no parent! Please notify a sysadmin.");
            }
        });
    });

    // --------------------------------------------------
    // Google Map Functions
    // --------------------------------------------------

    // Google Maps stuff:
    var map;
    var path;
    var path_start_marker;
    var path_end_marker;
    var points;

    var mapSpinner;
    var mapQueueIdentifier = "GoogleMap";


    // Called at initialization and from within Dynamic Dygraphs.
    var UpdateMap = function(start, finish) {
        mapSpinner.showSpinner(true);
        var map_request_url = "/api/dataset/" + dataset_id + "?columns=gps:latitude,gps:longitude&buckets=1000&minmax=false&resulttype=json"
                + "&startTime=" + start + "&endTime=" + finish;

        AddToRequestQueue({request: map_request_url, callback: SetPathAndPointsOnMap, identifier: mapQueueIdentifier});
    };

    var SetPathAndPointsOnMap = function(data) {
        SetPointsOnMap(data.values);
        SetPathOnMap(data.values);
        mapSpinner.showSpinner(false);
    };

    /** Load the map with a line constructed from all of the points on the list.
     * 
     * @param {JSON} points The JSON array of points
     */
    var SetPathOnMap = function(newpoints) {
        // Clear prevous path, if any.
        if (typeof path !== "undefined") {
            path.setMap(null);
        }
        var lineCoordinates = [];

        var bounds = CreateLatLngArray(newpoints, lineCoordinates);

        // Define a symbol using a predefined path (an arrow)
        // supplied by the Google Maps JavaScript API.
        var lineSymbol = {
            path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
            scale: 3,
            strokeOpacity: 0.75,
            strokeColor: '#FFFFFF'
        };

        path = new google.maps.Polyline({
            map: map,
            path: lineCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2,
            icons: [{
                    icon: lineSymbol,
                    repeat: '10%'
                }]
        });

        path.setMap(map);
        map.fitBounds(bounds);
    };


    /** Load the map with all of the points in the list.
     * 
     * @param {JSON} newpoints The JSON array of points
     */
    var SetPointsOnMap = function(newpoints) {
        // If the points existed before be sure to get rid of them.
        if (typeof points !== "undefined") {
            for (var i = 0; i < points.length; i++) {
                points[i].setMap(null);
            }
        }
        points = [];

        var latlng = [];
        var bounds = CreateLatLngArray(newpoints, latlng);
        map.fitBounds(bounds);

        for (var i = 0; i < latlng.length; i++) {
            var marker = new google.maps.Marker({
                title: "time: " + DateTimeFormatter.Format(parseFloat(newpoints[i][0]))
                        + "\n" + latlng[i].toString(),
                map: map,
                flat: true, // May help performance, but haven't measured.
                position: latlng[i],
                icon: 'https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle_blue.png'
            });

            points.push(marker);
        }
    };



    /**
     * 
     * @param {type} pointsList The JSON array of points.
     * @param {list[google.maps.LatLng]} coordinatesResultList The list of converted points (result)
     * @returns {google.maps.LatLngBounds} The bounds that these points fit into.
     */
    function CreateLatLngArray(pointsList, coordinatesResultList) {
        // Clear any previous points, and set some labels.
        if (typeof path_start_marker === "undefined") {
            path_start_marker = new google.maps.Marker({
                title: "Start",
                map: map,
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
            });
        }
        if (typeof path_end_marker === "undefined") {
            path_end_marker = new google.maps.Marker({
                title: "End",
                map: map,
                icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
            });
        }


        var bounds = new google.maps.LatLngBounds();
        var firstPoint = true;
        var point;

        for (var i = 0; i < pointsList.length; i++) {
            var lat = parseFloat(pointsList[i][1]);
            var long = parseFloat(pointsList[i][2]);
            if (isNaN(lat) === false && isNaN(long) === false) {
                point = new google.maps.LatLng(lat, long);
                coordinatesResultList.push(point);
                bounds.extend(point);

                if (firstPoint === true) {
                    path_start_marker.setPosition(point);
                    firstPoint = false;
                }
            }
        }

        path_end_marker.setPosition(point);
        return bounds;
    }


    // --------------------------------------------------
    // Dygraph Functions
    // --------------------------------------------------

    var graph_configurations = [];
    var graphs = [];
    function InitializeGraph(index) {

        var config = graph_configurations[index];

        config["start_time"] = start_time;
        config["end_time"] = end_time;
        config["uuid"] = dataset_id;
        config["AddToRequestQueue"] = AddToRequestQueue;
        config["LoadDataMap"] = UpdateMap;
        config["syncCheckboxId"] = 'sync_graph_checkbox';

        var t = new SRLM.DynamicGraph(config);
        graphs.push(t);


        var GetStartEndTimeString = function(dynamic_graph) {
            var range = dynamic_graph.getGraph().xAxisRange();
            var min_x = range[0];
            var max_x = range[1];

            var result = "&startTime=" + min_x
                    + "&endTime=" + max_x;
            return result;
        };

        //Add button listeners
        config["$img_button"].click(function() {
            var requestURL = Dygraph.Export.asCanvas(t.getGraph()).toDataURL();
            config["$img_button"].attr("href", requestURL);
        });

        config["$download_button"].click(function() {
            var request_url = '/api/dataset/' + dataset_id + "?columns=" + config["axes"];
            request_url += GetStartEndTimeString(t);
            request_url += "&minmax=false";
            config["$download_button"].attr("href", request_url);
        });

        config["$custom_button"].click(function() {
            var request_url = '/dataset/' + dataset_id + '/download?columns=' + config["axes"];
            request_url += GetStartEndTimeString(t);
            config["$custom_button"].attr("href", request_url);
        });

        config["$event_button"].click(function() {
            var request_url = '/snippet/createeventmodal';
            request_url += '?parent=' + event_id;
            request_url += GetStartEndTimeString(t);

            // Is this repeat safe? Every time this button is clicked then
            // the modal is reloaded. Is this ok?
            $("#create_event_modal").load(request_url, function() {
                $("#new_event_modal").modal('show');
            });
        });

        config["$toggle_display_button"].click(function() {
            config["$section_div"].toggle("slow");
            config["$toggle_display_icon"].toggleClass("glyphicon-resize-full .glyphicon-remove");
        });
    }




    // --------------------------------------------------
    // Request Queue Functions
    // --------------------------------------------------
    // The request queue is important for performance. It serializes data requests
    // so that you only requset one set at a time. This allows the server to
    // do some caching. The first request may take a while, but subsequent requests
    // will be much faster.
    //
    // The queue is put client side because the server doesn't know when the client
    // disconects. This is a problem when the client queues up a large number of
    // requests, then goes somewhere else. The server would still have to go
    // through all of them.
    //
    // There is a bit of an optimization: the each request has a source identifier.
    // Each time that it get's ready to process the next queue, it throws away
    // a request if there is a newer request with the same identifier. This way,
    // if you change zooms rapidly you don't build up a backlog of requests.

    var requestQueue = [];

    var MarkIdentifierOldInQueue = function(identifier) {
        for (var i = 0; i < requestQueue.length; i++) {
            console.log(requestQueue[i].identifier + " === " + identifier);
            if (requestQueue[i].identifier === identifier) {
                requestQueue[i]["old"] = true;
            }
        }
    };

    var ProcessQueue = function() {
        var callback = requestQueue[0].callback;
        var request = requestQueue[0].request;
        var old = requestQueue[0].old;
        if (typeof old === "undefined") {
            console.log("Processing request");
            $.ajax({
                type: 'GET',
                url: request,
                dataType: 'json',
                success: function(data) {
                    var old2 = requestQueue[0].old;

                    requestQueue.shift();

                    if (requestQueue.length > 0) {
                        ProcessQueue();
                    }
                    if (typeof old2 === "undefined") {
                        callback(data);
                    }
                }
            });
        } else {
            requestQueue.shift();
            ProcessQueue();
            console.log("Skipping request.");
        }
    };

    var AddToRequestQueue = function(param) {
        MarkIdentifierOldInQueue(param.identifier);

        requestQueue.push(param);
        if (requestQueue.length === 1) {
            ProcessQueue();
        }
    };
</script>

<a class="btn btn-sm btn-default" href="/dataset/{{{event.dataset}}}"><span class="glyphicon glyphicon-arrow-left"></span> Dataset</a>
{{#if event.parent}}
<a class="btn btn-sm btn-default" href="/event/{{{event.parent}}}"><span class="glyphicon glyphicon-arrow-left"></span> Parent Event</a>
{{/if}}


<div class="row">
    <div class="col-xs-6">
        <h3>"{{event.type}}" event</h3>
    </div>
    <div class="col-xd-6">
        <h3 class="pull-right">
            <!--Only display the delete button if we have a parent (can't delete the root event) -->
            {{#if event.parent}}
            <a id="delete" class="btn btn-xs btn-danger">Delete Event (and all child events)</a>
            {{else}}
            ...
            {{/if}}
        </h3>
    </div>
</div>

<div id="create_event_modal"> <!--Loaded by jQuery--> </div>

<h2>Event Tree</h2>
<div id="insert_event_tree"> <!--Loaded by jQuery--> </div>

<h2>Aggregate Summary</h2>
<div id="aggregatestatistics"><!--Loaded by jQuery-->
    <div class="panel panel-default">
        <div class="panel-body">Sorry, aggregate not available right now.</div>
    </div>
</div>

<br/>

<h2>Event Summary</h2>
<div id="summarystatistics"><!--Loaded by jQuery-->
    <div class="panel panel-default">
        <div class="panel-body">Sorry, statistics not available right now.</div>
    </div>
</div>


<h2>Data Displays</h2>
<div class="row" id="map_row">
    <div id="map-canvas" class="google-maps" style="height: 450px;"></div>
</div>

<br />
<br />
<input type="checkbox" id="sync_graph_checkbox" name="sync_graph_checkbox"/>&nbsp;Synchronize Visualizations
<br />
(<b>graph zoom</b> click and drag, <b>pan</b> shift-click and drag, <b>unzoom</b> double-click, <b>lock highlight</b> click on series)
<br />

<div class="container">



    {{#each column_group}}
    <!-- Clip to [somewhere] Modal -->
    <div class="modal fade" id="graph_{{id}}_menu" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">{{title}} Graph Actions</h4>
        </div>
        <div class="modal-body">
            <h3>Clip to</h3>
            <a download="{{columns}}-image.png" id="clip_to_img_{{id}}_button" class="btn btn-default btn-block">PNG</a>
            <a download="{{columns}}-data.txt" id="download_{{id}}_button" class="btn btn-default btn-block">Download</a>
            <a id="download_custom_{{id}}_button" class="btn btn-default btn-block">Custom Download</a>
            <a id="create_event_{{id}}_button" class="btn btn-default btn-block">New Event</a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

    <div class="row">
        <h3>{{title}}
            <div class="pull-right">
                <a data-toggle="modal" href="#graph_{{id}}_menu" class="btn btn-link btn-lg">
                    <span class="glyphicon glyphicon-export"></span></a>
                <a id="graph_{{id}}_toggle" class="btn btn-link btn-lg">
                    <span id="graph_{{id}}_toggle_display_icon" class="glyphicon glyphicon-remove"></span></a>
            </div>
        </h3>

        <div id="{{id}}_section"  >
            <div id="graph_{{id}}" style="height: 300px;"></div>
        </div>
        <script>
            graph_configurations.push({
                axes: "{{columns}}",
                buckets: "1000",
                $graphCont: $("#graph_{{id}}"),
                $img_button: $("#clip_to_img_{{id}}_button"),
                $download_button: $("#download_{{id}}_button"),
                $custom_button: $("#download_custom_{{id}}_button"),
                $toggle_display_button: $("#graph_{{id}}_toggle"),
                $toggle_display_icon: $("#graph_{{id}}_toggle_display_icon"),
                $section_div: $("#{{id}}_section"),
                $event_button: $("#create_event_{{id}}_button"),
                $clip_modal: $("#graph_{{id}}_menu")
            });
        </script>
    </div>
    {{/each}}

    <br />


