

<form action="/upload/process" method="post" enctype="multipart/form-data" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>RNB Upload</legend>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="rnbfile">RNB File</label>
            <div class="col-md-6">
                <input id="rnbfile" name="rnbfile" type="file">
                <p class="help-block">Select the RNB file to process.</p>
            </div>
        </div>

        



        {{#each textinputs}}
        <div class="form-group">
            <label for="{{id}}" class="col-md-3 control-label">{{label}}</label>
            <div class="col-md-6"> 
                <input type="text" class="form-control" name="{{id}}" id="{{id}}" placeholder="{{placeholder}}" /> 
                <p class="help-block">{{description}}</p>
            </div>
        </div>
        {{/each}}


        {{#each textareas}}
        <div class="form-group">
            <label for="{{id}}" class="col-md-3 control-label">{{label}}</label>
            <div class="col-md-6"> 
                <textarea cols="120" rows="9" name="{{id}}" id="{{id}}" class="form-control">{{default_text}}</textarea>
                <p class="help-block">{{description}}</p>
            </div>
        </div>

        {{/each}}


        <!-- Button -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="submitbutton"></label>
            <div class="col-lg-6">
                <button id="submitbutton" name="submitbutton" class="col-md-3 btn btn-large btn-default" type="submit" value="Submit">Submit</button>
            </div>
        </div>


    </fieldset>
</form>


