<form>
    <fieldset>
        <input name="datasetId" value="{{datasetId}}" type="hidden"/>

        <div class="form-group">
            <label for="xml">XML Text</label>            
            <textarea class="form-control" name="xml" rows="20"></textarea>
            <span class="help-block">Paste your XML here</span>  
        </div>

        <div data-name="alert" class="alert alert-danger hidden" role="alert">Alert Message</div>
        <div data-name="warning" class="alert alert-warning hidden" role="alert">Warning Message</div>
        <div data-name="done" class="alert alert-success hidden" role="alert">Done Message</div>

        <button class="btn btn-large btn-default pull-right" name="submitButton" type="submit">Parse FCPXML File</button>




    </fieldset>
</form>