<div class="row">
    <div class="col-md-7">    
        <div>
            <div data-name="videoDiv"></div>
        </div>

    </div>
    <div class="col-md-5">

        <div class="row">
            <div class="long-list-wrapper" style="height:200px">

                {{#if videos}}    
                {{else}}
                No videos are defined.
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl><dt>Video time
                    <dd><span data-name="currentvideotime"></span>
                    <dt>Current video
                    <dd><span data-name="currentvideoid"></span>
                    <dt>Video to hover delta
                    <dd><span data-name="videohoverdelta"></span>
                </dl>

                Playback Speed:
                <select data-name="playbackspeedselect" class="form-control">
                    <option value="1">none</option>
                </select>
            </div>
            <div class="col-md-6">
                When right side is reached:
                <div class="radio"><label><input type="radio" name="onenddo" data-name="onenddonothingcheckbox">&nbsp;Continue normally</label></div>
                <div class="radio"><label><input type="radio" name="onenddo" data-name="looponviewcheckbox" checked>&nbsp;Loop video in current view</label></div>
                <div class="radio"><label><input type="radio" name="onenddo" data-name="nexteventcheckbox">&nbsp;Jump to next event of type
                        <select data-name="nexteventselect" class="form-control">
                            {{#each eventTypes}}
                            <option value="{{name}}" {{selected}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </label>
                </div>
                <div class="checkbox"><label><input type="checkbox" data-name="syncvideowithhovercheckbox">&nbsp;Seek video to hover</label></div>
                <button type="button" data-name="syncvideostart" class="btn btn-default">Begin Sync</button>
            </div>
        </div>
    </div>
</div>