<form>
    <fieldset>
        <input name="datasetId" value="{{datasetId}}" type="hidden"/>

        <div class="form-group">
            <label for="fileinput">FCPXML file with markers</label>
            <input id="filebutton" data-name="fileinput" name="fileinput" class="input-file" type="file">
        </div>

        <div data-name="alert" class="alert alert-danger hidden" role="alert">Alert Message</div>
        <div data-name="warning" class="alert alert-warning hidden" role="alert">Warning Message</div>
        <div data-name="done" class="alert alert-success hidden" role="alert">Done Message</div>

        <button class="btn btn-large btn-default pull-right" name="submitButton" type="submit">Parse FCPXML File
        </button>


    </fieldset>
</form>