<form class="form-horizontal">
    <fieldset>

        <input type="hidden" name="type" value="random"/>
        <input type="hidden" name="datasetId" value="{{datasetId}}"/>
        
        <div class="form-group">
            <label class="col-md-5 control-label" for="eventType">Select generated event type</label>
            <div class="col-md-5">
                <select name="eventType" class="form-control">
                    {{#each eventTypes}}
                    <option value="{{name}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label" for="quantity">Quantity of events generated</label>  
            <div class="col-md-5">
                <input name="quantity" type="number" class="form-control" min="1" max="10" value="3">
                <span class="help-block">Choose how many random events to create.</span>  
            </div>
        </div>

        <button class="btn btn-large btn-default pull-right" name="submitButton" type="submit">Generate Random Events</button>
    </fieldset>
</form>