<h4>Which event detection do you want to do?</h4>

<div data-name="optionslist">
    <br/><button type="button" data-name="random" class="btn btn-primary btn-block btn-lg">Random</button>
    <br/><button type="button" data-name="spectral" class="btn btn-primary btn-block btn-lg">Spectral</button>
    <br/><button type="button" data-name="session" data-command="wave" class="btn btn-primary btn-block btn-lg">Wave</button>
    <br/><button type="button" data-name="session" data-command="paddle" class="btn btn-primary btn-block btn-lg">Paddle</button>
    <br/><button type="button" data-name="session" data-command="duckdive" class="btn btn-primary btn-block btn-lg">Duck Dive</button>

    <br/><br/><button type="button" data-name="console" class="btn btn-default btn-block btn-lg">View console</button>
</div>
