<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE fcpxml>

<fcpxml version="1.4">
    <resources>
        <format id="r1" frameDuration="{{numerator}}/{{denominator}}s" width="{{pixels.width}}" height="{{pixels.height}}"/>
        <effect id="r2" name="Basic Lower Third" uid=".../Titles.localized/Lower Thirds.localized/Basic Lower Third.localized/Basic Lower Third.moti"/>
        {{#each asset}}
        <asset id="{{ref}}" src="file://{{source}}">
        </asset>
        {{/each}}
    </resources>
    <library>
        <event name="{{datasetName}}">
            <project name="{{sequenceName}}">
                <sequence format="r1" tcFormat="DF">
                    <spine>
                        {{#each clip}}
                        <clip name="{{name}}" offset="{{offsetFrames}}/{{denominator}}s" duration="{{durationFrames}}/{{denominator}}s" start="{{startFrames}}/{{denominator}}s" tcFormat="DF">
                            <video ref="{{video.ref}}" duration="{{video.duration}}/{{denominator}}s"></video>
                            {{#if title}}
                            <title name="{{title.name}}" lane="1" offset="{{title.offset}}/{{denominator}}s" ref="r2" duration="{{title.duration}}/{{denominator}}s">
                                <param name="Position" key="9999/999166631/999166633/1/100/101" value="-764.941 -384"/>
                                <param name="Position" key="9999/999166631/999169525/1/100/101" value="-763.7 -438"/>
                                <text>
                                <text-style ref="{{title.textARef}}">{{title.textA}}</text-style>
                                </text>
                                <text>
                                <text-style ref="{{title.textBRef}}">{{title.textB}}</text-style>
                                </text>
                                <text-style-def id="{{title.textARef}}">
                                    <text-style font="Helvetica Neue" fontSize="66" fontFace="Regular" fontColor="0.986246 0.00712073 0.0274342 1" strokeColor="1 0.999974 0.999991 1" strokeWidth="1"/>
                                </text-style-def>
                                <text-style-def id="{{title.textBRef}}">
                                    <text-style font="Helvetica Neue" fontSize="48" fontFace="Medium" fontColor="0.986246 0.00712073 0.0274342 1" strokeColor="1 0.999974 0.999991 1" strokeWidth="1"/>
                                </text-style-def>
                            </title>
                            {{/if}}
                        </clip>
                        {{/each}}
                    </spine>
                </sequence>
            </project>
        </event>
    </library>
</fcpxml>