
<select class="form-control" name="layouts" data-default="{{layout}}">
    {{#each existingLayouts}}<option {{#if selected}}selected="selected"{{/if}} value="{{id}}">{{title}}</option>
    {{/each}}
</select>

<button data-name="apply" class="btn btn-default btn-block">Apply to profile and refresh</button>
<br/>
<h4>Layout Editing</h4>
<button data-name="delete" class="btn btn-danger">Delete</button>
&nbsp;&nbsp;&nbsp;
<button data-name="edit" class="btn btn-default">Edit</button>
<button data-name="copy" class="btn btn-default">Copy</button>
<button data-name="create" class="btn btn-default">Create New</button>