<h3><small>Settings</small></h3>
<div class="checkbox">
    <label>
        <input data-name="showmarkerscheckbox" name="showMarkers" type="checkbox" {{#if showMarkersChecked}}checked{{/if}}/> Show video and hover markers
    </label>
</div>
<hr/>
<h4><small>Axes to Display</small></h4>
{{#each axes}}
<div class="col-sm-3">
    {{#each this}}
    <div class="checkbox" >
        <label>
            <input data-name="axis-checkbox" name="{{axis}}" type="checkbox" {{checked}}/> {{axis}}
        </label>
    </div>
    {{/each}}
</div>
{{/each}}


