<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE fcpxml>

<fcpxml version="1.4">
    <resources>
        <format id="r1" name="FFVideoFormat720p5994" frameDuration="1001/60000s" width="1280" height="720"/>
        <effect id="r2" uid=".../Generators.localized/Elements.localized/Placeholder.localized/Placeholder.motn"/>
    </resources>
    <library>
        <event name="{{datasetName}}">
            <project name="{{sequenceName}}">
                <sequence format="r1" tcStart="0s" tcFormat="DF">
                    <spine>
                        <video name="Marker list" offset="0s" ref="r2" duration="{{durationValue}}/{{denominator}}s" start="0s">
                            {{#each markers}}
                            <marker start="{{start}}/{{denominator}}s" duration="{{durationValue}}/{{denominator}}s" value="{{value}}"/>
                            {{/each}}
                        </video>
                    </spine>
                </sequence>
            </project>
        </event>
    </library>
</fcpxml>