<form>
    <fieldset>
        <input name="datasetId" value="{{datasetId}}" type="hidden"/>

        <div class="form-group">
            <label for="type">Event Type</label>
            <select class="form-control " name="type">
                {{#each eventTypes}}
                <option value="{{name}}" {{selected}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="tight">Tight Event Type</label>
            <div class="checkbox">
                <label for="tight">
                    <input type="checkbox" name="tight" value="true" checked>
                    Restrict event select to exact type match.
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="stars">Event Stars</label>
            <div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stars" value="5">
                        {{{ratingStars 5}}} and up
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stars" value="4">
                        {{{ratingStars 4}}} and up
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stars" value="3" checked>
                        {{{ratingStars 3}}} and up
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stars" value="2">
                        {{{ratingStars 2}}} and up
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stars" value="1">
                        {{{ratingStars 1}}} and up
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="stars" value="any">
                        Any stars
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="videoType">Video Type</label>
            <select class="form-control " name="videoType">
                {{#each videoType}}
                <option value="{{@key}}" {{selected}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="files">Video File(s) Local Path(s)</label>
            <textarea class="form-control" name="files"></textarea>
            <span class="help-block">Path to a local video file on your machine. If you have multiple videos to stich together then separate the paths with commas.</span>
        </div>

        <div class="form-group">
            <label for="titleDuration">Title Duration</label>
            <input class="form-control" type="number" name="titleDuration" min="0" value="3">
            <p class="help-block">The number of seconds to display the title at the beginning of an event. 0 removes titles entirely.</p>
        </div>


        <button class="btn btn-large btn-default pull-right" name="submitButton" type="submit">Create FCPXML File</button>
    </fieldset>
</form>