<form>
    <fieldset>
        {{! If id is defined, that means that we are editing a layout.}}
        {{#if id}}
        <input name="id" value="{{id}}" type="hidden"/>
        {{/if}}

        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" name="title" value="{{title}}" data-default="{{title}}" type="text">
            <p class="help-block">A short, descriptive title for this layout.</p>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control">{{description}}</textarea>
            <p class="help-block">A description for this layout.</p>
        </div>

        <div class="form-group">
            <label for="for">For</label>
            <textarea name="for" class="form-control" rows="5" style="font-family:monospace;">{{for}}</textarea>
            <p class="help-block">The URLs that this layout applies to. Must be JSON parseable.</p>
        </div>

        <div class="form-group">
            <label for="layout">Layout</label>
            <textarea name="layout" class="form-control" rows="25" style="font-family:monospace;">{{layout}}</textarea>
            <p class="help-block">The actual layout. Must be JSON parseable.</p>
        </div>

        <div class="alert alert-warning hide" data-name="submitwarning"></div>

        <button class="btn btn-large btn-default pull-right" name="submitButton" type="submit">{{resourceActionText}}Submit Button</button>
    </fieldset>
</form>