<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-name="rowtitle">Modal Title</h4>
            </div>
            <div class="modal-body">
                <h2><span class="pull-right">
                        <span data-name="buttonbar"></span>
                    </span>
                </h2>
                <div data-name="tileplace"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->