<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dataTables.css">
<script src="/js/jquery.dataTables.js"></script>

<h2>Events</h2>
<table class="table table-condensed" id="{{id}}_eventlist_table">

</table>

<script type="text/x-handlebars" id="eventlist-details-template">
    <table class="table table-condensed">
    <tr><td>ID:</td><td>\{{id}}</td><td>Type:</td><td>\{{type}}</td></tr>
    <tr><td>Start Time</td><td>\{{startTime}}</td><td>End Time</td><td>\{{endTime}}</td></tr>
    </table>
</script>

<script type="text/x-handlebars" id="eventlist-delete-are-you-sure">
    <p class="pull-right">Are you sure?</p><br /><br/>
    <button class="btn btn-danger pull-right" id="\{{id}}">Delete</button>
</script>