<h2>Summary Statistics</h2>
<div id="{{id}}placeholder"></div>

<script type="text/x-handlebars" id="summarystatistics-calculate-template">
    <h4>For custom range</h4>
    <div class="row">
        <button class="btn btn-lg" id="summaryStatisticsCalculateButton">Calculate for Custom Range</button>
    </div>
</script>

<script type="text/x-handlebars" id="summarystatistics-details-template">
    <h4>For \{{type}}</h4>
    <div class="row">
    \{{#each summaryStatistics.instantaneous}}
    <div class="col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>\{{@key}}</strong></div>

    <table class="table table-condensed">
    <thead>
    <tr>
    <th>Axis</th>
    <th>Minimum</th>
    <th>Average</th>
    <th>Maximum</th>
    </tr>
    </thead>
    <tbody>
    \{{#each this}}


    <tr>
    <td>\{{@key}}</td>
    <td><abbr title="units: \{{this.minimum.units}},  time: \{{epochtime this.minimum.time}}">
    \{{unitize this.minimum.value this.minimum.units}}</abbr></td>

    <td><abbr title="units: \{{this.average.units}}">
    \{{unitize this.average.value this.average.units}}</abbr></td>

    <td><abbr title="units: \{{this.maximum.units}},  time: \{{epochtime this.maximum.time}}">
    \{{unitize this.maximum.value this.maximum.units}}</abbr></td>
    </tr>
    \{{/each}}
    </tbody>
    </table>
    </div>
    </div>
    \{{/each}}



    \{{#if summaryStatistics.static.route}}
    \{{#with summaryStatistics.static.route}}
    <div class="col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>gps path</strong></div>
    <table class="table table-condensed">
    <thead>
    <th>Type</th>
    <th>Length</th>
    <th>Bearing</th>
    </thead>
    <tbody>
    \{{#each this}}
    <tr>
    <td>\{{@key}}</td>
    <td><abbr title="units: \{{distance.units}}">
    \{{decimal distance.value}}</abbr></td>

    <td>\{{#if bearing}}<abbr title="units: \{{bearing.units}}">
    \{{decimal bearing.value}}</abbr>
    \{{else}}---\{{/if}}</td>
    </tr>
    \{{/each}}
    </tbody>

    </table>
    </div>
    </div>
    \{{/with}}
    \{{/if}}

    \{{#if summaryStatistics.static.time}}
    \{{#with summaryStatistics.static.time}}
    <div class="col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>time</strong></div>
    <table class="table table-condensed">
    <tbody>
    <tr>
    <td>start</td>
    <td>\{{epochdate start_time.value}}</td>
    <td>\{{epochtime start_time.value}}</td>
    </tr>
    <tr>
    <td>end</td>
    <td>\{{epochdate end_time.value}}</td>
    <td>\{{epochtime end_time.value}}</td>
    </tr>
    <tr>
    <td>duration</td>
    <td></td>
    <td>\{{duration start_time.value end_time.value}}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    \{{/with}}
    \{{/if}}


    <!--{"static":{"gps":{"total on time":0,"On percent":0,"total off time":0}},"instantaneous":{"gps":{}}}-->


    \{{#if summaryStatistics.static.gps}}
    \{{#with summaryStatistics.static.gps}}
    <div class="col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>gps static</strong></div>
    <table class="table table-condensed">
    <thead>
    <th>Off</th>
    <th>On</th>
    <th>%</th>
    </thead>
    <tbody>
    <tr>
    <td>\{{duration 0 timeoff.value}}</td>
    <td>\{{duration 0 timeon.value}}</td>
    <td>\{{percent timeon.value timeoff.value}}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>    
    \{{/with}}
    \{{/if}}

    \{{#if summaryStatistics.static.panelStructure}}
    \{{#with summaryStatistics.static.panelStructure}}
    <div class="col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>panel structure</strong></div>
    <table class="table table-condensed">
    <tbody>
    <tr>
    <td>Row Count</td>
    <td>\{{rowCount.value}}</td>
    </tr>
    <tr>
    <td>Size (as Text)</td>
    <td>\{{bytesToHumanSize textSize.value}}</td>
    </tr>
    <tr>
    <td>Size (in Database)</td>
    <td>\{{bytesToHumanSize diskSize.value}}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>    
    \{{/with}}
    \{{/if}}

    \{{#if summaryStatistics.static.freeFall}}
    \{{#with summaryStatistics.static.freeFall}}
    <div class="col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading"><strong>free fall</strong></div>
    <table class="table table-condensed">
    <tbody>
    <tr>
    <td>free fall count</td>
    <td>\{{count.value}}</td>
    </tr>
    <tr>
    <td>total free fall time</td>
    <td>\{{duration 0 totalTime.value}}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>    
    \{{/with}}
    \{{/if}}
    </div>

</script>