<form class="form-horizontal">
    <fieldset>
        <input type="hidden" name="type" value="session"/>
        <input type="hidden" name="command" value="{{command}}"/>
        <input type="hidden" name="datasetId" value="{{datasetId}}"/>

        {{#each fields}}
        
        {{#compare type "int"}}
        <div class="form-group">
            <label class="col-md-5 control-label" for="{{name}}">{{name}}</label>  
            <div class="col-md-5">
                <div class="input-group">
                    <input name="{{name}}" type="number" class="form-control" value="{{default}}" step="1">
                    <span class="input-group-addon"></span>
                </div>
                <span class="help-block">{{description}}</span>  
            </div>
        </div>
        {{/compare}}
        
        {{#compare type "float"}}
        <div class="form-group">
            <label class="col-md-5 control-label" for="{{name}}">{{name}}</label>  
            <div class="col-md-5">
                <div class="input-group">
                    <input name="{{name}}" type="number" class="form-control" value="{{default}}">
                    <span class="input-group-addon"></span>
                </div>
                <span class="help-block">{{description}}</span>  
            </div>
        </div>
        {{/compare}}
        
        {{#compare type "selection"}}
        <div class="form-group">
            <label class="col-md-5 control-label" for="{{name}}">{{name}}</label>
            <div class="col-md-5">
                <select name="{{name}}" class="form-control">
                    {{#each options}}
                    <option value="{{value}}" {{#if selected}}selected{{/if}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        {{/compare}}

        {{/each}}
        <button class="btn btn-large btn-default pull-right" name="submitButton" type="submit">Run {{type}} Session Command</button>
    </fieldset>
</form>