<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE fcpxml>

<fcpxml version="1.4">
    <resources>
        <format id="r1" frameDuration="{{numerator}}/{{denominator}}s" width="{{pixels.width}}" height="{{pixels.height}}"/>
        {{#each asset}}
        <asset id="{{ref}}" src="file://{{source}}">
        </asset>
        {{/each}}
    </resources>
    <library>
        <event name="{{datasetName}}">
            <project name="{{sequenceName}}">
                <sequence format="r1" tcFormat="DF">
                    <spine>
                        {{#each clip}}
                        <clip name="{{name}}" offset="{{offsetFrames}}/{{denominator}}s" duration="{{durationFrames}}/{{denominator}}s" start="{{startFrames}}/{{denominator}}s" tcFormat="DF">
                            <video ref="{{video.ref}}" duration="{{video.duration}}/{{denominator}}s">
                            </video>
                        </clip>
                        {{/each}}
                    </spine>
                </sequence>
            </project>
        </event>
    </library>
</fcpxml>