<!-- Clip to [somewhere] Modal -->        
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Graph Actions</h4>
            </div>
            <div class="modal-body">
                <h3>Clip to</h3>
                <!-- Buttons will be filled in here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
    <h2><span class="rowtitle">Default Graph Title</span>
        <span class="pull-right">
            <a class="btn btn-link btn-lg">
                <span class="glyphicon glyphicon-export"></span></a>
        </span>
    </h2>
    <br /><br />
    <div>
        <div style="height: 300px;"></div>
    </div>
</div>