<h1>We believe that data is empowering.</h1>

<p>We're a small company doing amazing things with micro sensors to capture surfing.</p>

<p>Interested in riding with us? Email us at <a target="_blank" href="mailto:red9_core@redninesensor.com">red9_core@redninesensor.com</a></p>

<img src="/static/images/surfing_bootstrap.jpg" alt=""/>

<!--<script type="text/javascript">
    // Script taken from http://www.browser-update.org/
    var $buoop = {};
    $buoop.ol = window.onload;
    window.onload = function() {
        try {
            if ($buoop.ol)
                $buoop.ol();
        } catch (e) {
        }
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "//browser-update.org/update.js");
        document.body.appendChild(e);
    }
</script> -->