<h1>Team</h1>
The Red9 team philosophy is based on transparency, accountability and communication, which are critical to teamwork and motivation. Given our small team size and that each team member is intimately involved in all aspects of Red9, we currently operate in a flexible and dynamic environment. However, the team members have specific responsibilities.

<hr/>

<h3>Mike Olson, Co-Founder</h3>
<p>Mike is a co-founder and is responsible for the corporate vision of Red9.</p>
<p>Mike has 16 years of investment experience, 13 years of experience investing in small technology companies with TCW. He is currently the Portfolio Manager for the TCW Small & Mid Cap Growth Team.</p>
<p>Mike helped architect the Small & Mid Cap growth investment process and developed and implemented a system for automating the portfolio management process. Mike has a Bachelor of Arts in Finance and International Business from California State University at Fullerton and an MBA from the University of Southern California. He is a CFA charterholder.</p>

<h3>Mica Parks, Co-Founder</h3>
<p>Mica is a co-founder and is responsible for design, engineering and manufacturing of the sensor.</p>
<p>Mica has worked as part of the technical engineering team at MSC Software for 14 years. His main focus is working directly with customers in supporting the complete line of MSC's simulation products including solvers and pre/post processors. For the last 6 years Mica has been in the Field Application team supporting specific aerospace accounts, teaching classes and investigating customer focus automation methods. Mica has a Bachelor of Science in Mechanical Engineering from the University of California, Irvine.</p>

<hr/>

<h3>Shyama Dorbala, Developer</h3>
<p>Shyama is responsible for exploring our data and developing novel solutions for extracting events.</p>
<p>Shyama is currently a grad student at the University of Southern California, studying signal/data processing. She has been a Signal Processing enthusiast for a while. Prior to pursuing her graduate studies, she had worked as a hardware engineer at Nvidia Corporation in India. Shyama has a Bachelor of Science in Electrical Engineering from the Indian Institute of Technology Hyderabad, and honors in the domain of signal processing in 2012.</p>

<h3>Jaysen Kim, Finance</h3>
<p>Jaysen is responsible for finance and operations.<p>
<p>Jaysen has 11 years of experience in investment banking, commercial banking and corporate finance. Jaysen has dual Bachelors of Science degrees in Finance and Information Systems from NYU and an MBA from The Wharton School at the University of Pennsylvania.</p>

<h3>Tom Lavia</h3>
Tom is an early supporter of Red9.

<h3>Cody Lewis, Chief Architect</h3>
<p>Cody is responsible for designing the R9DSP and the hardware recorder circuits and firmware.</p>
<p>Cody has designed and worked on the Red9 platform services. When he's not programming or soldering up a test prototype, he enjoys recording and analyzing bicycle and sailing data. Cody has a Bachelor of Science in Computer Science from the University of California, Riverside.</p>

<h3>Jeff Olson, Developer</h3>
<p>Jeff Olson is the Manager of the Clinical Technology Services department at SynteractHCR and leads a group of programmers in the development and implementation of client facing software applications. Jeff has 14 years experience in the drug development industry with the majority focused on implementing software solutions that automate clinical trials processes.  Prior to his current position,Jeff was a Sr. Programmer analysts responsible for requirements gathering, software development, testing, support and maintenance of web and voice based applications. Jeff holds a BA from University of California San Diego.</p>

<h3>Akhil Rao, Developer</h3>
<p>Akhil is responsible for exploring our data and integrating solutions into our business goals.</p>
<p>Akhil has worked on the Red9 data analysis team since 2013 and has helped design and implement the statistical algorithms in use on the Red9 Data Science platform. When he's not recording or analyzing SCAD data, Akhil enjoys motorcycling, playing StarCraft 2, and reading about technology and economics. Akhil has a Bachelor of Science in Business Administration, Finance, and Economics from the University of California, Riverside.</p>

<h3>Juan Bobillo</h3>
<p>Juan is responsible for Red9 marketing.</p>

